/AdministratieSwing/build/
/ExtLibrary/build/
/AdministratieSwing/dist/
/ApplicatiearchitectuurProject/ApplicatiearchitectuurProject-ejb/build/
/ApplicatiearchitectuurProject/ApplicatiearchitectuurProject-ejb/dist/
/ApplicatiearchitectuurProject/ApplicatiearchitectuurProject-war/build/
/ApplicatiearchitectuurProject/build/
/ExtLibrary/dist/
/ApplicatiearchitectuurProject/ApplicatiearchitectuurProject-war/dist/